.services-form {
  &__form {
    padding-top: 15.4rem;
    padding-bottom: 13.4rem;
  }
  &__title {
    margin-bottom: 1.8rem;
  }
  &__desc {
    margin-bottom: 4.85rem;
    letter-spacing: 0.005rem;
  }
  &__img {
    object-position: 50% 100%;
  }
  @media (max-width: 48em) {
    &__form {
      padding-top: 7.8rem;
      padding-bottom: 8rem;
    }
    &__title {
      margin-bottom: 2.4rem;
    }
    &__desc {
      margin-bottom: 8.8rem;
    }
    &__label {
      &:not(:last-child) {
        margin-bottom: 8rem;
      }
      &:last-child {
        margin-bottom: 7.8rem;
      }
    }
    &__input {
      &,
      &::placeholder {
        font-size: 3.2rem;
      }
    }
    &__btn {
      margin-bottom: 3.7rem;
      font-size: 3.2rem;
    }
  }
}
