@import '../../mixins';

.partitions-portfolio {
  padding-top: 4.75rem;
  padding-bottom: 18rem;
  &__title {
    margin-bottom: 0;
  }
  &__btn {
    padding: 1.75rem 2.65rem;
  }
  &__box {
    @include flex-center-y();
    justify-content: space-between;
    padding-bottom: 4.5rem;
  }
  @media (max-width: 48em) {
    padding-top: 5.7rem;
    padding-bottom: 18rem;
    &__box {
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 4rem;
    }
    &__title {
      margin-bottom: 8rem;
    }
    &__btn {
      padding: 3.65rem 5.4rem;
    }
    &__slider {
      height: 80rem;
      &-btn {
        @include block-size(9rem);
        & svg {
          @include block-size(2rem, 2.4rem);
        }
        &-prev {
          left: 1.8rem;
        }
        &-next {
          right: 1.8rem;
        }
      }
    }
  }
}
