@import './reset';
@import './block-size';
@import './image';
@import './animation';

@mixin background-text {
  background: linear-gradient(
    135deg,
    var(--beige) 0%,
    var(--beige-light) 52.4%,
    var(--beige) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin background-text-reset() {
  background: transparent !important;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
  text-fill-color: initial;
}
