.menu-catalog {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100rem;
  z-index: 100;
  @include transition(all);
  &__container {
    display: flex;
    width: 100%;
  }
  &__list {
    display: grid;
    grid-auto-rows: 25.1rem;
    width: 64.9rem;
    border-right: 0.1rem solid var(--white);
    background-color: rgba(29, 53, 82, 0.45);
    backdrop-filter: blur(5px);
    @include transition(transform, translateY(-100%));
  }
  &__item,
  &__link,
  &__link-desc {
    @include flex-center-y();
  }
  &__item {
    overflow: hidden;
    &:not(:last-child) {
      border-bottom: 0.1rem solid var(--white);
    }
    & picture {
      position: relative;
    }
  }
  &__link {
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem 0 6rem;
    &.active {
      & .menu-catalog__img {
        transform: rotate(10deg) scale(1.1);
      }
    }
    &-desc {
      border-bottom: 0.1rem solid var(--white);
      padding-top: 0.1rem;
      padding-bottom: 1rem;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: var(--white);
      @include transitions((border-color, color));
      & svg {
        @include block-size(0.9rem, 1.2rem);
        margin-left: 2rem;
        & > path {
          @include transition(stroke);
        }
      }
    }
    &:hover,
    &:active {
      & span {
        border-color: var(--beige-light);
        color: var(--beige-light);
      }
      & .menu-catalog__img {
        transform: rotate(10deg) scale(1.1);
      }
      & svg > path {
        stroke: var(--beige-light);
      }
    }
  }
  &__img {
    position: relative;
    @include transition(transform, rotate(0) scale(1));
    &-1 {
      @include picture(24.5rem, 24.9rem);
      right: 0.5rem;
    }
    &-2 {
      @include picture(15.8rem, 21.3rem);
      right: 4.8rem;
      top: 0.3rem;
    }
    &-3,
    &-4 {
      @include picture(20.9rem, 20rem);
      right: 0.8rem;
      top: 0.15rem;
    }
  }
  @media (max-width: 48em) {
    top: 15.2rem;
    max-height: 0;
    &__container {
      padding: 0;
      flex-direction: column;
    }
    &__list {
      position: relative;
      visibility: hidden;
      overflow: hidden;
      grid-auto-rows: 52.2rem 53.7rem 53.2rem 53rem;
      opacity: 0;
      max-height: 0;
      width: 100%;
      border: 0;
      padding: 0;
      background: url('../img/menu-catalog/background-menu.webp') center center /
        75rem 222rem no-repeat;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include block-size(100%);
        background-color: rgba(29, 53, 82, 0.45);
        backdrop-filter: blur(5px);
      }
      &.active {
        visibility: visible;
        max-height: 1000rem;
        opacity: 1;
        padding: 0 4rem 10rem 4rem;
      }
    }
    &__item {
      position: relative;
      border-bottom-width: 0.2rem;
      z-index: 2;
      &:last-child {
        border-bottom: 0.2rem solid var(--white);
      }
    }
    &__link {
      flex-direction: column-reverse;
      justify-content: flex-start;
      padding: 0;
      &-desc {
        margin-bottom: 4.7rem;
        padding-bottom: 2rem;
        padding-left: 0.4rem;
        font-size: 3.2rem;
        line-height: 4.4rem;
        & svg {
          @include block-size(1.5rem, 2.5rem);
          margin-top: -0.1rem;
          margin-left: 4.5rem;
        }
      }
    }
    &__img {
      margin-bottom: 2rem;
      &-1 {
        @include block-size(54.4rem, 31.8rem);
        right: 0.1rem;
      }
      &-2 {
        @include block-size(21.8rem, 30.3rem);
        top: 0;
        right: -0.2rem;
      }
      &-3,
      &-4 {
        @include block-size(33.9rem, 32rem);
        top: 0;
        right: 0;
      }
      &-4 {
        margin-bottom: 1.8rem;
      }
    }
  }
}

.subsection-catalog {
  padding: 5rem 4rem;
  background-color: rgba(29, 53, 82, 0.45);
  width: 127.1rem;
  backdrop-filter: blur(5px);
  @include transition(transform, translateY(100%));
  &__close {
    @include block-size(2.5rem, 2.1rem);
    margin-bottom: 6.2rem;
    & svg {
      @include block-size(inherit);
      & > path {
        @include transition(stroke);
      }
    }
    &:hover,
    &:active {
      & svg > path {
        stroke: var(--beige-light);
      }
    }
  }
  &__back {
    display: none;
  }
  &__container {
    @include transition(transform, translateY(150%));
    &.tab-active {
      transform: translateY(0);
      transition-delay: 0.5s;
    }
  }
  &__title {
    margin-bottom: 4rem;
    font-size: 3.5rem;
    color: var(--white);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 3.9rem 4rem;
    max-width: 112rem;
  }
  &__item {
    position: relative;
    &:hover,
    &:active {
      & h3 {
        color: var(--beige-light);
      }
    }
  }
  &__img {
    @include picture(25rem);
    margin-bottom: 2.1rem;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    @include block-size(100%);
  }
  &__subtitle {
    font-size: 1.8rem;
    line-height: 2.1rem;
    @include transition(color, var(--white));
  }
  @media (max-width: 48em) {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    max-height: 0;
    padding: 0;
    background: url('../img/menu-catalog/background-tab.webp') center center /
      75rem 430rem no-repeat;
    @include transition(all);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include block-size(100%);
      background-color: rgba(29, 53, 82, 0.45);
      backdrop-filter: blur(5px);
    }
    &.active {
      visibility: visible;
      max-height: 1000rem;
      opacity: 1;
      padding: 4.85rem 4rem 9rem;
    }
    &__close {
      display: none;
    }
    &__back,
    &__container {
      position: relative;
      z-index: 2;
    }
    &__back {
      display: block;
      margin-bottom: 8rem;
      border-bottom: 0.4rem solid var(--white);
      padding-bottom: 1.7rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 4.4rem;
      color: var(--white);
      @include transitions((border-color, color));
      & svg {
        @include block-size(1.6rem, 2.6rem);
        transform: rotateY(180deg);
        margin-right: 5rem;
        & > path {
          @include transition(stroke);
        }
      }
      &:hover,
      &:active {
        border-color: var(--beige-light);
        color: var(--beige-light);
        & svg > path {
          stroke: var(--beige-light);
        }
      }
    }
    &__title {
      margin-bottom: 8.1rem;
      font-size: 6rem;
    }
    &__list {
      grid-template-columns: 1fr;
      gap: 8.45rem;
    }
    &__img {
      @include block-size(67rem, 50rem);
      margin-bottom: 1.5rem;
    }
    &__link {
      font-size: 3.2rem;
      line-height: 4.4rem;
    }
  }
}

.menu-catalog.active {
  visibility: visible;
  & .menu-catalog__list,
  & .subsection-catalog {
    transform: translateY(0);
  }
  @media (max-width: 48em) {
    max-height: 1000rem;
  }
}
