// Common block
@import './common';
@import './common/common-form';
@import './common/contacts-map';

.contacts-banner {
  @include flex-center-center();
  @include block-size(100%, 41.2rem);
  margin-bottom: 18.1rem;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    @include block-size(100%);
    background: linear-gradient(
      0deg,
      rgba(30, 31, 33, 0.55),
      rgba(30, 31, 33, 0.55)
    );
  }
  &,
  &__title {
    position: relative;
    color: var(--white);
  }
  &__title {
    z-index: 3;
    margin-bottom: 8.8rem;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include block-size(100%);
    background-image: url('../img/contacts/main.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 48em) {
    height: 74.6rem;
    &__title {
      margin-bottom: 14.8rem;
    }
    &__img {
      background-position: 16% 100%;
    }
  }
}

.contacts-slider {
  padding-bottom: 3rem;
  &__box {
    &-title {
      display: flex;
      justify-content: space-between;
    }
    &-btn {
      display: flex;
      padding-top: 0.2rem;
    }
  }
  &__title {
    margin-bottom: 4.4rem;
  }
  &__btn {
    @include flex-center-center();
    @include block-size(5.6rem);
    border: 0.1rem solid var(--black);
    border-radius: 100%;
    @include transitions((border-color, background-color));
    & svg {
      @include block-size(0.6rem, 1.1rem);
      & > path {
        @include transition(stroke, var(--black));
      }
    }
    &:first-child {
      margin-right: 1.5rem;
      & svg {
        transform-origin: center center;
        transform: rotate(180deg);
      }
    }
    &:hover,
    &:active {
      border-color: var(--blue);
      background-color: var(--blue);
      & svg > path {
        stroke: var(--white);
      }
    }
  }
  &__address {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 37.8rem;
    padding: 1.5rem 4rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    background-color: var(--white);
    @include transitions((background-color, color));
    & span {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      max-width: calc(100% - (2rem * 2));
      line-height: inherit;
      font-size: inherit;
    }
    &:hover,
    &:active,
    &.active {
      background-color: var(--blue);
      color: var(--white);
    }
  }
  @media (max-width: 48em) {
    padding-right: 0;
    padding-bottom: 8rem;
    &__title {
      margin-bottom: 8rem;
      padding-right: 3rem;
    }
    &__box-btn {
      display: none;
    }
    &__address {
      max-width: 40.2rem;
      padding: 3rem 4rem 2.3rem;
      font-size: 3.2rem;
    }
  }
}

.contacts-main {
  & .contacts-map {
    &__content {
      overflow: hidden;
      height: 49.5rem;
      max-width: 51.3rem;
      padding: 7.85rem 4rem 4rem;
    }
    &__map {
      height: 49.5rem;
    }
  }
  &__tab {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    @include transition(all);
    &.active {
      visibility: visible;
      opacity: 1;
      max-height: 100rem;
    }
  }
  @media (max-width: 48em) {
    & {
      padding-bottom: 18.25rem;
    }
    & .contacts-map {
      &__content {
        height: 73.8rem;
        max-width: initial;
        padding: 7.55rem 5rem 8.1rem 4rem;
      }
      &__map {
        height: 96rem;
      }
    }
  }
}

.contacts-form {
  margin-bottom: 18.1rem;
}
