// Common block
@import './common';
@import './sofas/__common/product';

.favorite {
  padding-top: 8rem;
  padding-bottom: 17.5rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(37rem, 1fr));
    gap: 4rem 3rem;
  }
  @media (max-width: 48em) {
    &__list {
      grid-template-columns: 1fr;
      gap: 7.95rem;
    }
  }
}
