// Common block
@import './common';
@import './common/portfolio';

.portfolio-main {
  padding-bottom: 4.3rem;
  &__main-title {
    margin: 8.1rem auto 4.5rem;
    letter-spacing: 0;
  }
  &__item {
    &,
    &:last-child {
      border-color: var(--white);
    }
  }
  &__subtitle {
    text-transform: initial;
    width: 15rem;
    margin-right: 1.5rem;
    font-size: 3.5rem;
    line-height: 3.9rem;
    letter-spacing: 0;
  }
  &__img {
    width: 52rem;
    &-box {
      margin-right: 1.4rem;
    }
  }
  &__title {
    &,
    &::first-line {
      letter-spacing: 0;
    }
  }
  &__btn {
    padding: 1.6rem 2.7rem 2rem;
  }
  &__btn-more {
    position: relative;
    @include flex-center-y();
    left: -1.85rem;
    margin: 0 auto 18rem;
    padding: 0 0 1rem 0.2rem;
    border-bottom: 0.15rem solid var(--black);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    @include transitions((border-color, color));
    & svg {
      @include block-size(0.8rem, 1.4rem);
      margin-left: 2.5rem;
      & > path {
        @include transition(stroke, var(--black));
      }
    }
    &:hover,
    &:active {
      border-color: var(--beige-light);
      color: var(--beige-light);
      & svg > path {
        stroke: var(--beige-light);
      }
    }
  }
  @media (max-width: 48em) {
    padding-bottom: 7.5rem;
    &__main-title {
      margin: 8rem auto 8rem;
    }
    &__item {
      &,
      &:last-child {
        border-color: var(--grey);
      }
      &:first-child {
        padding: 7.5rem 0 8rem;
      }
    }
    &__subtitle {
      margin-bottom: 2rem;
      font-size: 5rem;
      line-height: 5.6rem;
    }
    &__img {
      width: 100%;
      &-box {
        margin-bottom: 4rem;
      }
    }
    &__btn {
      padding: 3.4rem 5.4rem;
      font-size: 3.2rem;
      &-more {
        left: -3.7rem;
        border-width: 0.3rem;
        padding-bottom: 2rem;
        font-size: 3.6rem;
        & svg {
          @include block-size(1.4rem, 2.6rem);
          margin-left: 5rem;
        }
      }
    }
  }
}
