.common-form {
  width: 100%;
  &,
  &__form {
    position: relative;
  }
  &__title,
  &__desc,
  &__btn-desc,
  &__btn-desc a,
  &__input,
  &__input::placeholder {
    color: var(--white);
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include picture(100%);
  }
  &__title {
    margin-bottom: 1.75rem;
  }
  &__desc {
    margin: 0 0 4.4rem 0;
    font-size: 1.8rem;
    letter-spacing: 0.01rem;
  }
  &__form {
    width: 83.9rem;
    padding: 8rem 7rem 8.1rem;
    z-index: 2;
    background-color: rgba(29, 53, 82, 0.65);
  }
  &__container {
    width: 100%;
    max-width: 60.9rem;
    margin-left: auto;
  }
  &__box {
    &-input,
    &-btn {
      display: flex;
    }
    &-input {
      flex-direction: column;
    }
    &-btn {
      align-items: center;
      justify-content: space-between;
    }
  }
  &__label {
    cursor: pointer;
    & span {
      overflow: hidden;
      font-size: 0;
      @include block-size(0);
    }
    &:not(:last-child) {
      margin-bottom: 3.4rem;
    }
    &:last-child {
      margin-bottom: 4.4rem;
    }
  }
  &__input {
    width: 100%;
    padding: 0.5rem 0 2.1rem 0;
    border-bottom: 0.1rem solid var(--grey);
    border-radius: 0;
    background-color: transparent;
    @include transition(border-color);
    &,
    &::placeholder {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 125%;
      letter-spacing: 0.15em;
    }
    &:hover,
    &:active {
      border-color: var(--beige-light);
    }
  }
  &__btn {
    margin-right: 1.5rem;
    &-desc {
      width: 100%;
      max-width: 40.7rem;
      font-size: 1.8rem;
      line-height: 140%;
      letter-spacing: 0.005rem;
      & a {
        border-bottom: 0.05rem solid var(--white);
        font-size: inherit;
        @include transitions((border-color, color));
        &:hover,
        &:active {
          color: var(--beige-light);
          border-color: var(--beige-light);
        }
      }
    }
  }
  @media (max-width: 48em) {
    padding: 0;
    &__title {
      margin-bottom: 2rem;
    }
    &__desc {
      margin: 0 0 8rem;
      font-size: 3.2rem;
    }
    &__form {
      width: 100%;
      padding: 8rem 4rem 8.3rem;
      backdrop-filter: blur(1rem);
    }
    &__container {
      max-width: initial;
      margin: 0;
    }
    &__box-btn {
      align-items: flex-start;
      flex-direction: column;
    }
    &__label {
      &:not(:last-child) {
        margin-bottom: 7rem;
      }
      &:last-child {
        margin-bottom: 8rem;
      }
    }
    &__input {
      padding: 1rem 0 3.8rem;
      &,
      &::placeholder {
        font-size: 2.8rem;
      }
    }
    &__btn {
      margin-right: 0;
      margin-bottom: 3rem;
      &-desc {
        max-width: 54.7rem;
        margin-bottom: 0;
        font-size: 3.2rem;
        line-height: 4.4rem;
      }
    }
  }
}

.popup {
  position: fixed;
  justify-content: center;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 3rem;
  opacity: 0;
  @include block-size(100%);
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(7.5px);
  @include transitions((opacity, visibility));
  &.active {
    visibility: visible;
    opacity: 1;
  }
  &,
  &__box,
  &__link {
    display: flex;
    align-items: center;
  }
  &__box {
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 78.5rem;
    padding: 12.1rem 5rem 8.7rem 5rem;
    background-color: var(--white);
  }
  &__title {
    margin-bottom: 1.3rem;
  }
  &__desc {
    text-align: center;
    width: 100%;
    max-width: 51.8rem;
    margin: 0 0 4.5rem 0;
    font-size: 1.8rem;
    line-height: 140%;
  }
  &__close {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    @include block-size(2.1rem);
    & svg {
      @include block-size(inherit);
      & > path {
        @include transition(stroke);
      }
    }
    &:hover,
    &:active {
      & svg > path {
        stroke: var(--beige-light);
      }
    }
  }
  @media (max-width: 48em) {
    padding: 4rem;
    &__box {
      justify-content: center;
      max-width: 67rem;
      padding: 10rem 3.4rem;
      height: 100%;
      max-height: 111rem;
    }
    &__title {
      text-align: center;
      margin-bottom: 1.8rem;
    }
    &__desc {
      max-width: initial;
      margin-bottom: 8rem;
      font-size: 3.2rem;
      font-weight: 500;
    }
    &__close {
      top: 4rem;
      right: 3.5rem;
      @include block-size(3rem);
    }
  }
}
