.common-desc {
  padding-top: 19.15rem;
  padding-bottom: 19rem;
  &.active {
    & .common-desc__content,
    & .common-desc__img {
      transform: translateX(0);
    }
  }
  &__content,
  &__img {
    @include transition(transform);
    transition-duration: 1.2s;
  }
  &__container {
    @include flex-center-y();
    justify-content: flex-end;
    position: relative;
    min-height: 82rem;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include picture(92.1rem, 100%);
    transform: translateX(35rem);
  }
  &__content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 78.5rem;
    padding: 8.5rem 7.9rem 8.65rem 8rem;
    background-color: var(--blue);
    transform: translateX(-40rem);
  }
  &__desc {
    &-1,
    &-2 {
      color: var(--white);
    }
    &-1 {
      font-family: 'Garamond', serif;
      margin: 0 0 4.3rem;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 3.9rem;
    }
    &-2 {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.5rem;
    }
  }
  @media (max-width: 48em) {
    padding-top: 18rem;
    padding-bottom: 10.9rem;
    &__container {
      flex-direction: column;
    }
    &__img {
      position: relative;
      @include block-size(63rem, 80rem);
      transform: translateX(0);
    }
    &__content {
      top: -7.4rem;
      padding: 8rem 4rem;
      transform: translateX(0);
    }
    &__desc {
      &-1 {
        margin-bottom: 3.8rem;
        padding-right: 1rem;
        font-size: 5rem;
        line-height: 5.6rem;
      }
      &-2 {
        font-size: 3.2rem;
        line-height: 4.4rem;
      }
    }
  }
}
