.us-title {
  text-transform: uppercase;
  margin: 0 0 4.5rem 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.1rem;
  @media (max-width: 48em) {
    font-size: 6rem;
    margin-bottom: 8rem;
  }
}

.socials {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &:first-child,
    &:last-child {
      & a {
        & svg > path,
        & svg > mask {
          @include transition(fill);
        }
      }
      & a:hover,
      & a:focus,
      & a:active {
        & svg > path,
        & svg > mask {
          fill: var(--beige);
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      & a {
        & svg > path,
        & svg > mask {
          @include transition(stroke);
        }
      }
      & a:hover,
      & a:focus,
      & a:active {
        & svg > path,
        & svg > mask {
          stroke: var(--beige);
        }
      }
    }
  }
  &__link {
    display: block;
    @include block-size(3.5rem);
    &:focus {
      outline: none;
    }
    & svg {
      @include block-size(inherit);
    }
  }
  @media (max-width: 48em) {
    &__item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
    &__link {
      @include block-size(7rem);
    }
  }
}

// .error-valid,
// .success {
//   &__message {
//     overflow: hidden;
//     text-align: center;
//     width: 100%;
//     max-height: 0;
//     padding-top: 0;
//     font-size: 0.8em;
//     line-height: 100%;
//     font-weight: 600;
//     transition: padding-top 0.3s ease, max-height 0.3s cubic-bezier(0, 1, 0, 1);
//     &-active {
//       max-height: 1000px;
//       padding-top: 8px;
//       transition: padding-top 0.3s ease,
//         max-height 0.3s cubic-bezier(1, 0, 1, 0);
//     }
//   }
// }
// .error-valid {
//   &__input {
//     border-color: red !important;
//   }
//   &__message {
//     color: red;
//   }
// }
// .success__message {
//   color: greenyellow;
// }

// .swiper {
//   &-3d &-slide-shadow-left {
//     background-image: linear-gradient(
//       to left,
//       #33aaff59,
//       rgba(0, 0, 0, 0)
//     ) !important;
//   }
//   &-3d &-slide-shadow-right {
//     background-image: linear-gradient(
//       to right,
//       #33aaff59,
//       rgba(0, 0, 0, 0)
//     ) !important;
//   }
//   &-pagination {
//     &-bullet {
//       @include block-size(5px !important);
//       opacity: 1 !important;
//       margin: 0 5px !important;
//       background: #d0d0d0 !important;
//       &-active {
//         @include block-size(8px !important);
//         background: var(--black) !important;
//       }
//     }
//     &-bullets {
//       display: flex;
//       align-items: center;
//       left: initial !important;
//       top: initial !important;
//       right: 35px;
//       bottom: 116px !important;
//       width: initial !important;
//     }
//     @media (max-width: 500px) {
//       &-bullet {
//         @include block-size(3px !important);
//         &-active {
//           @include block-size(5px !important);
//         }
//       }
//       &-bullets {
//         right: 98px;
//         bottom: 11px !important;
//       }
//     }
//   }
// }
