.header {
  padding: 2.1rem 0 1.9rem 0;
  background-color: var(--blue);
  &__container,
  &__nav-list {
    @include flex-center-y();
  }
  &__container {
    justify-content: space-between;
  }
  &__logo {
    @include block-size(20.2rem, 4.8rem);
    margin-left: -0.7rem;
    & img {
      &:last-child {
        display: none;
      }
      @include block-size(inherit);
      margin-top: -0.1rem;
    }
  }
  &__nav {
    padding: 0 10.5rem 0.6rem 0;
    &-item {
      &:first-child,
      &:last-child {
        display: none;
      }
      &:nth-last-child(n + 3) {
        margin-right: 8.1rem;
      }
    }
    &-link {
      font-size: 1.8rem;
      @include background-text();
      @include opacity-effect();
    }
  }
  &__btn {
    @include block-size(3.8rem);
    @include opacity-effect();
    & svg {
      @include block-size(inherit);
      & > path,
      & > rect {
        stroke: var(--beige-light);
      }
    }
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &-box {
      &-close {
        display: none;
      }
    }
    &-menu,
    &-close {
      display: none;
      & svg {
        @include block-size(inherit);
      }
    }
  }
  @media (max-width: 48em) {
    padding: 3.2rem 0 2.8rem 0;
    &__logo {
      @include block-size(11.4rem, 9.2rem);
      margin-left: 1.4rem;
      & img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
        margin-top: -0.4rem;
      }
    }
    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      width: 100%;
      padding: 0;
      opacity: 0;
      transform: translateY(-150%);
      @include transition((opacity, transform));
      &-list {
        flex-direction: column;
        padding-top: 10.4rem;
        padding-bottom: 24.3rem;
        background-color: var(--bg);
      }
      &-item {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 11.75rem;
        }
        &:first-child,
        &:last-child {
          display: block;
        }
      }
      &-link {
        font-family: 'Garamond', serif;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
      }
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
    }
    &__btn {
      @include block-size(7.2rem);
      &-menu,
      &-close {
        display: block;
      }
      &-menu {
        position: relative;
        top: -0.2rem;
        @include block-size(6rem, 4.2rem);
      }
      &-close {
        @include block-size(4.5rem);
        & svg > path {
          stroke: var(--beige-light);
        }
      }
      &-box-close {
        @include flex-center-y();
        justify-content: flex-end;
        min-height: 15rem;
        padding: 0 5rem;
        background-color: var(--blue);
      }
      &.favorite {
        display: none;
      }
    }
  }
}
