.popup {
  position: fixed;
  justify-content: center;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 3rem;
  opacity: 0;
  @include block-size(100%);
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(7.5px);
  @include transitions((opacity, visibility));
  &.active {
    visibility: visible;
    opacity: 1;
  }
  &,
  &__box,
  &__link {
    display: flex;
    align-items: center;
  }
  &__box {
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 78.5rem;
    padding: 12rem 5rem 8.7rem 5rem;
    background-color: var(--white);
  }
  &__title {
    margin-bottom: 1.5rem !important;
  }
  &__desc {
    text-align: center;
    width: 100%;
    max-width: 51.8rem;
    margin: 0 0 4.4rem 0;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  &__link {
    border-radius: 4.9rem;
    padding: 1.5rem 2.8rem 1.6rem;
    font-size: 1.8rem;
    background-color: var(--blue);
    @include transition(color, var(--white));
    & svg {
      @include block-size(0.6rem, 1.1rem);
      margin-left: 2rem;
      & > path {
        @include transition(stroke);
      }
    }
    &:hover,
    &:active {
      color: var(--beige);
      & svg > path {
        stroke: var(--beige);
      }
    }
  }
  &__close {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    @include block-size(2.1rem);
    & svg {
      @include block-size(inherit);
      & > path {
        @include transition(stroke);
      }
    }
    &:hover,
    &:active {
      & svg > path {
        stroke: var(--beige);
      }
    }
  }
  @media (max-width: 48em) {
    padding: 4rem;
    &__box {
      justify-content: center;
      max-width: 67rem;
      padding: 10rem 3.4rem;
      height: 100%;
      max-height: 111rem;
    }
    &__title {
      text-align: center;
      letter-spacing: 0.14rem !important;
      margin-bottom: 1.8rem !important;
    }
    &__desc {
      max-width: initial;
      margin-bottom: 8rem;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 4.4rem;
    }
    &__link {
      border-radius: 10rem;
      padding: 3.1rem 5.6rem 3.3rem;
      font-size: 3.6rem;
      & svg {
        @include block-size(1.2rem, 2.6rem);
        margin-top: 0.7rem;
        margin-left: 4rem;
      }
    }
    &__close {
      top: 3.4rem;
      right: 3.4rem;
      @include block-size(3.4rem);
    }
  }
}
