doctype html
html(lang="ru")
  head
    //- Head
    include common/head.pug
    
    title Катарсис - Контакты

    //- Swiper-Slider
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
    //- Basic Styles
    link(rel="stylesheet", href='style/contacts.css')
    //- Basic JavaScript
    script(src="js/contacts.js", defer) 

  body

    //- Mixins
    include common/mixin.pug

    //- Header
    include common/header.pug

    main

      section.contacts-banner.container
        h1.contacts-banner__title.us-title Наши контакты
        .contacts-banner__img

      section.contacts-slider.container
        .contacts-slider__box-title 
          h2.contacts-slider__title.us-title Магазины на карте
          .contacts-slider__box-btn
            button.contacts-slider__btn.contacts-slider__btn-prev
              +icon("arrow-1") 
            button.contacts-slider__btn.contacts-slider__btn-next
              +icon("arrow-1")
        .contacts-slider__slider.swiper
          .swiper-wrapper
            //- Data addresses
            - var addresses = [{id: "tab-1", name: "Расточная, 24 А"}, {id: "tab-2", name: "Новинский бульвар, 18с1"}, {id: "tab-3", name: "ул. Таганская, 26 А"}, {id: "tab-4", name: "ул. Расточная, 24 А"}, {id: "tab-5", name: "Расточная, 24 А"}, {id: "tab-6", name: "ул. Таганская, 26 А"}]

            each address, index in addresses
              button.contacts-slider__address.swiper-slide(class=`${index === 2 && 'active'}`, data-tab= address.id)
                span= address.name


      //- Contacts-map
      - var contactTitle = true
      - var cssClassContactsMap = "contacts-main"
      - var addresses = [{id: "tab-1", name: "г. Москва, Расточная, 24 А"}, {id: "tab-2", name: "г. Москва, Новинский бульвар, 18с1"}, {id: "tab-3", name: "г. Москва, ул. Таганская, 26 А"}, {id: "tab-4", name: "г. Москва, ул. Расточная, 24 А"}, {id: "tab-5", name: "г. Москва, Расточная, 24 А"}, {id: "tab-6", name: "г. Москва, ул. Таганская, 26 А"}]

      include common/contacts-map.pug 

      //- Common-form
      - var cssClassForm = "contacts-form"

      include common/common-form.pug  

    //- Footer
    include common/footer.pug 