doctype html
html(lang="ru")
  head

    //- Head
    include common/head.pug
    
    title Катарсис - О проекте

  body

    //- Mixins
    include common/mixin.pug

    //- Header
    include common/header.pug

    main

      section.project.container
        h1.project__title.us-title Детская
        picture
          source.project__img-main(srcset="img/project/main.webp")
          img.project__img-main(src="img/project/main.webp", alt="Баннер")
        .project__content 
          p 
            | Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ.
            br
            br 
            | Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. 
          p
            | Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. 
            br
            br 
            | Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ в конкретном взятом помещении. Дизайн-проект включает в себя комплект документов, которые поэтапно описывают ход ремонтных и отделочных работ.
        .project__gallery
          - for(var i = 1; i < 6; i++)

            picture.project__gallery-box
              source.project__gallery-img(srcset=`img/project/gallery/${i}.webp`)
              img.project__gallery-img(src=`img/project/gallery/${i}.webp`, alt="Баннер")

      //- Common-slider
      - var titleSlider = "Другие работы"
      - var cssClassSlider = "project-slider"
      - var cardSlider = "services"

      include common/common-slider.pug  

    //- Footer
    include common/footer.pug 