doctype html
html(lang="ru")
  head

    //- Head
    include common/head.pug

    title Катарсис - Дизайнерская мебель

    //- Swiper-Slider
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
    //- Yandex-map
    script(src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU", type="text/javascript")
    //- Basic Styles
    link(rel="stylesheet", href=`style/main.min.css`)
    //- Basic JavaScript
    script(src=`js/header.js`, defer)
    script(src=`js/form-popup.js`, defer)
    script(src=`js/sofas-main.js`, defer)
    script(src=`js/map.js`, defer)

  body

    //- Mixins
    include common/mixin.pug

    - var catalogPath = 'sofas-catalog.html'

    //- Header
    include common/header.pug

    main

      //- Hero 
      include common/sofas-hero.pug

      section.catalog.container 
        h2.catalog__title.us-title Каталог
        .catalog__content
          .catalog__slider.swiper 
            .swiper-wrapper
              - for(var slide = 1; slide < 3; slide++)
                .catalog__slide.swiper-slide 
                  picture
                    source(srcset=`img/catalog/main.png`).catalog__img
                    img(src=`img/catalog/main.png`, alt=`Гостиная-${slide}`).catalog__img
                  - for(var label = 1; label < 3; label++)
                    button.catalog__label(class=`catalog__label-${label}` aria-label= "Пуф")
                      span
            button.catalog__slider-btn.catalog__slider-btn-prev
              +icon('arrow-1') 
            button.catalog__slider-btn.catalog__slider-btn-next
              +icon('arrow-1')
            .catalog__label-content#label-content
              h3.catalog__label-title Пуф круглый большой (велюр)
              picture
                source(srcset=`img/catalog/pouf.png`).catalog__label-img
                img(src=`img/catalog/pouf.png`, alt="Пуф").catalog__label-img
              a.catalog__label-link(href="#") 
                | Перейти к товару
                +icon('arrow-2')

          //- Catalog list
          include common/sofas-list.pug 

      //- Popular
      include common/sofas-popular.pug    

      section.application.container
        picture
          source(srcset=`img/application/1.png`).application__img
          img(src=`img/application/1.png`, alt="Спальня").application__img
        form.application__form#application
          .application__form-container
            h2.application__title.us-title оставьте заявку
            p.application__desc Наши менеджеры помогут вам!
            .application__form-box-input
              label(for="name").application__form-label
                span Имя
                input(id="name", type="text", name="name", placeholder="Имя").application__form-input
              label(for="tel").application__form-label
                span Номер телефона
                input(id="tel", type="tel", name="tel" , placeholder="Номер телефона").application__form-input
            .application__form-box-btn 
              button.application__form-btn 
                | Отправить
                +icon('arrow-2')
              p.application__form-desc
                | Отправляя форму, вы соглашаетесь с&nbsp;
                a(href="#") политикой&nbsp;конфиденциальности

      section.company.container
        .company__container  
          .company__content 
            h2.company__title.us-title О компании
            p.company__desc 
              | Наша компания сотрудничает с дизайнерами, российскими и европейскими мебельными фабриками, чтобы вы могли купить оригинальную дизайнерскую мебель в Москве или заказать доставку в другие регионы. Наша компания сотрудничает с дизайнерами, российскими и европейскими мебельными фабриками, чтобы вы могли купить оригинальную дизайнерскую мебель в Москве или заказать доставку в другие.
            a(href="#").company__btn 
              | Подробнее
              +icon('arrow-2')
          picture
            source(srcset=`img/company/1.png`).company__img
            img(src=`img/company/1.png`, alt="Офис").company__img

      section.contacts.container  
        .contacts__content 
          h2.contacts__title.us-title Наши контакты 
          ul.contacts__list
            li.contacts__item
              h3.contacts__subtitle Адрес
              address.contacts__desc г. Москва, ул. Расточная, 24 А
            li.contacts__item
              h3.contacts__subtitle Режим
              p.contacts__desc Пн-Пт: 10-20 / Сб&#8209;Вс:&nbsp;&nbsp;10&#8209;15
            li.contacts__item
              h3.contacts__subtitle Метро
              strong.contacts__desc Любинская
            li.contacts__item
              h3.contacts__subtitle Телефон
              a(href="tel:+89999999999").contacts__desc 8 (999) 999-99-99
            li.contacts__item
              h3.contacts__subtitle Почта
              a(href="mailto:mail@example.com").contacts__desc mail@example.com
            li.contacts__item
              h3.contacts__subtitle Соц.сети
              ul.socials__list.contacts__socials-list
                //- Data socials
                - var socials = [{id: 'vkontakte', href: 'https://vk.com/'}, {id: 'whatsapp', href: 'https://www.whatsapp.com/'}, {id: 'telegram', href: 'https://t.me/NIK_NAME'}, {id: 'phone', href: 'tel:+89999999999'}]

                each objSocials in socials
                  li.socials__item.contacts__socials-item 
                    a.socials__link.contacts__socials-link(href= objSocials.href, aria-label=objSocials.id)
                      +icon(objSocials.id)
        .contacts__map#map

    //- Footer
    include common/footer.pug

    //- Popup
    include common/popup.pug


