ul.catalog__list 
  //- Data catalog
  - var catalog = ["диваны", "кресла", "светильники", "кровати", "тумбочки", "все"]

  each link, index in catalog
    li.catalog__card 
      a(href="sofas-catalog.html").catalog__card-link 
        picture
          source(srcset=`img/catalog/${index + 1}.webp`).catalog__card-img
          img(src=`img/catalog/${index + 1}.webp`, alt=`Изображение-${index + 1}`).catalog__card-img
        span.catalog__card-desc= link