.application {
  width: 100% !important;
  &,
  &__form {
    position: relative;
  }
  &__title,
  &__desc,
  &__form-desc,
  &__form-desc a,
  &__form-input,
  &__form-input::placeholder,
  &__form-btn {
    color: var(--white);
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @include picture(100%);
    z-index: 1;
  }
  &__title {
    letter-spacing: 0.185rem !important;
    margin-bottom: 1.6rem !important;
  }
  &__desc {
    margin: 0 0 4.6rem 0;
    font-size: 1.8rem;
    letter-spacing: 0.01rem;
  }
  &__form {
    width: 83.9rem;
    padding: 8rem 7rem 8rem 7rem;
    z-index: 2;
    background-color: rgba(29, 53, 82, 0.65);
    &-container {
      width: 100%;
      max-width: 60.9rem;
      margin-left: auto;
    }
    &-box {
      &-input,
      &-btn {
        display: flex;
      }
      &-input {
        flex-direction: column;
      }
      &-btn {
        align-items: center;
        justify-content: space-between;
      }
    }
    &-label {
      & span {
        overflow: hidden;
        font-size: 0;
        @include block-size(0);
      }
      &:not(:last-child) {
        margin-bottom: 3.8rem;
      }
      &:last-child {
        margin-bottom: 4.5rem;
      }
    }
    &-input {
      width: 100%;
      padding: 0 0 2.1rem 0;
      border-bottom: 0.1rem solid var(--grey);
      background-color: transparent;
      @include transition(border-color);
      &,
      &::placeholder {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.15em;
        line-height: 2rem;
      }
      &:hover,
      &:active {
        border-color: var(--beige);
      }
    }
    &-btn {
      @include flex-center-y();
      border-radius: 4.9rem;
      padding: 1.5rem 2.8rem 1.7rem 2.8rem;
      font-size: 1.8rem;
      margin-right: 1.5rem;
      background-color: var(--blue);
      @include transition(color);
      & svg {
        @include block-size(0.6rem, 1.1rem);
        margin-left: 2rem;
        & > path {
          @include transition(stroke);
        }
      }
      &:hover,
      &:active {
        color: var(--beige);
        & svg > path {
          stroke: var(--beige);
        }
      }
    }
    &-desc {
      width: 100%;
      max-width: 40.7rem;
      margin: -0.3rem 0 0 0;
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: 0.005rem;
      & a {
        border-bottom: 0.05rem solid var(--white);
        font-size: inherit;
        @include transitions((border-color, color));
        &:hover,
        &:active {
          color: var(--beige);
          border-color: var(--beige);
        }
      }
    }
  }
  @media (max-width: 48em) {
    padding: 0 !important;
    &__title {
      margin-bottom: 2rem !important;
      letter-spacing: 0.2rem !important;
    }
    &__desc {
      margin: 0 0 8.5rem;
      font-size: 3.2rem;
    }
    &__form {
      width: 100%;
      padding: 7.7rem 4rem 8.3rem;
      backdrop-filter: blur(1rem);
      &-container {
        max-width: initial;
        margin: 0;
      }
      &-box-btn {
        align-items: flex-start;
        flex-direction: column;
      }
      &-label {
        &:not(:last-child) {
          margin-bottom: 7.8rem;
        }
        &:last-child {
          margin-bottom: 8rem;
        }
      }
      &-input {
        padding: 0 0 4rem;
      }
      &-desc {
        max-width: 54.7rem;
        margin-bottom: 0;
        font-size: 3.2rem;
        line-height: 4.4rem;
      }
      &-btn {
        margin-right: 0;
        margin-bottom: 3rem;
        border-radius: 9.8rem;
        padding: 3rem 5.6rem 3.4rem 5.6rem;
        font-size: 3.6rem;
        & svg {
          @include block-size(1.2rem, 2.6rem);
          margin-top: 0.7rem;
          margin-left: 4rem;
        }
      }
    }
  }
}
