.company {
  padding-top: 180px;
  padding-bottom: 180px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 95px 0 96px 137px;
    background-image: linear-gradient(
      to right,
      var(--white) 57.5%,
      transparent 0%
    );
  }
  &__content {
    width: 100%;
    max-width: 425px;
    margin-right: 40px;
  }
  &__title {
    letter-spacing: 0.5px !important;
  }
  &__desc {
    margin: 0 0 45px 0;
    font-size: 18px;
    line-height: 131%;
  }
  &__btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: max-content;
    border-radius: 43px;
    padding: 15px 27px;
    font-size: 18px;
    color: var(--white);
    background-color: var(--black);
    @include transition(color);
    & svg {
      margin-left: 20px;
      & > path {
        @include transition(stroke);
      }
    }
    &:focus {
      outline: none;
    }
    &:hover,
    &:focus,
    &:active {
      color: var(--beige);
      & svg > path {
        stroke: var(--beige);
      }
    }
  }
  &__img {
    @include picture(100%, 629px);
  }
  @media (max-width: 1500px) {
    &__img {
      object-position: 13% 50%;
    }
  }
  @media (max-width: 1200px) {
    padding-top: 90px;
    padding-bottom: 91px;
    &__container {
      flex-direction: column;
      padding: 0 10px;
      background-image: linear-gradient(
        to bottom,
        var(--white) 57.5%,
        transparent 0%
      );
    }
    &__content {
      max-width: 525px;
      margin-right: 0;
      padding: 40px 12px 40px 10px;
    }
    &__title {
      margin-bottom: 20px !important;
      letter-spacing: 0.3px !important;
    }
    &__desc {
      margin: 0 0 22px;
      font-size: 16px;
      line-height: 137%;
    }
    &__btn {
      padding: 16px 27px;
      background-color: var(--blue);
    }
    &__img {
      height: 500px;
    }
  }
  @media (max-width: 700px) {
    &__img {
      height: 400px;
    }
  }
}
