.sofas-hero {
  &__img {
    &-1 {
      @include picture(40rem);
      bottom: 35.5rem;
      right: 41rem;
    }
    &-2 {
      @include picture(92.4rem, 43.8rem);
      bottom: 0;
      right: 23rem;
    }
    &-3 {
      @include picture(54.4rem, 63.5rem);
      bottom: 0.5rem;
      right: -8.5rem;
    }
  }
  @media (max-width: 48em) {
    &__img {
      &-1 {
        @include block-size(25.4rem);
        bottom: 13.8rem;
        right: 19.7rem;
      }
      &-2 {
        @include block-size(59.4rem, 28.2rem);
        bottom: -10.3rem;
        right: 8.4rem;
      }
      &-3 {
        @include block-size(34.6rem, 40.4rem);
        bottom: -8.4rem;
        right: -9.8rem;
      }
    }
  }
}
