.hero {
  background-image: linear-gradient(to bottom, var(--blue) 82%, transparent 0%);
  &__title,
  &__desc,
  &__btn {
    @include background-text();
  }
  &__content,
  &__container {
    position: relative;
  }
  &__container {
    overflow: hidden;
    padding-bottom: 255px;
  }
  &__content {
    padding-top: 62px;
    width: 100%;
    max-width: 505px;
    z-index: 2;
  }
  &__title {
    letter-spacing: 0 !important;
    &::first-line {
      letter-spacing: 1.7px;
    }
  }
  &__desc {
    margin: 0 0 45px 0;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05px;
  }
  &__btn {
    text-decoration: none;
    width: max-content;
    font-size: 18px;
    @include transition(opacity, 1);
    &,
    & span {
      display: flex;
      align-items: center;
    }
    & span {
      justify-content: center;
      @include block-size(56px);
      margin-right: 20px;
      border-radius: 100%;
      background-color: var(--white);
      & svg {
        transform-origin: center center;
        transform: rotate(90deg);
        & > path {
          stroke: var(--black);
        }
      }
    }
    &:focus {
      outline: none;
    }
    &:hover,
    &:focus,
    &:active {
      opacity: 0.5;
    }
  }
  &__img {
    &,
    &-container {
      position: absolute;
    }
    &-container {
      top: 0;
      right: 0;
      z-index: 1;
      @include block-size(100%);
      max-width: 1240px;
    }
    &-1 {
      @include picture(400px);
      bottom: 355px;
      right: 41.1%;
    }
    &-2 {
      @include picture(924px, 438px);
      bottom: 0;
      right: 26.5%;
    }
    &-3 {
      @include picture(544px, 635px);
      bottom: 6px;
      right: 1.2%;
    }
  }
  @media (max-width: 1670px) {
    &__img {
      &-1 {
        @include block-size(350px);
        bottom: 317px;
      }
      &-2 {
        @include block-size(824px, 338px);
      }
      &-3 {
        @include block-size(444px, 535px);
        right: 3.2%;
      }
    }
  }
  @media (max-width: 1500px) {
    &__container {
      padding-bottom: 220px;
    }
    &__img {
      &-1 {
        @include block-size(300px);
        bottom: 279px;
        right: 31.1%;
      }
      &-2 {
        @include block-size(724px, 328px);
        right: 15.5%;
      }
      &-3 {
        @include block-size(344px, 435px);
        right: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    &__container {
      padding-bottom: 190px;
    }
    &__img {
      &-1 {
        @include block-size(250px);
        bottom: 231px;
        right: 26.1%;
      }
      &-2 {
        @include block-size(600px, 258px);
        bottom: 14px;
        right: 9.5%;
      }
      &-3 {
        @include block-size(244px, 382px);
        right: -5%;
      }
    }
  }
  @media (max-width: 1000px) {
    &__container {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }
    &__content {
      max-width: 350px;
      padding-top: 24px;
    }
    &__title {
      margin-bottom: 20px !important;
      &::first-line {
        letter-spacing: 1px;
      }
    }
    &__desc {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 138%;
    }
    &__btn {
      font-size: 16px;
      @include background-text-reset();
      color: var(--white);
      & span {
        @include block-size(20px);
        margin-left: 13px;
        margin-right: 32px;
        background-color: transparent;
        & svg {
          @include block-size(12px, 10px);
          & > path {
            stroke: var(--white);
          }
        }
      }
    }
    &__img {
      &-container {
        position: relative;
        @include block-size(100%, 335px);
      }
      &-1 {
        right: 22.1%;
      }
      &-2 {
        bottom: 25px;
        right: 4.5%;
      }
      &-3 {
        bottom: 15px;
        right: -10%;
      }
    }
  }
  @media (max-width: 700px) {
    &__img {
      &-container {
        height: 270px;
      }
      &-1 {
        @include block-size(180px);
        bottom: 157px;
        right: 16.1%;
      }
      &-2 {
        @include block-size(350px, 180px);
        right: 5.5%;
      }
      &-3 {
        @include block-size(173px, 226px);
        bottom: 29px;
        right: -10%;
      }
    }
  }
  @media (max-width: 450px) {
    background-image: linear-gradient(
      to bottom,
      var(--blue) 95%,
      transparent 0%
    );
    &__container {
      padding-bottom: 50px;
    }
    &__content {
      max-width: 400px;
    }
    &__img {
      &-container {
        height: 248px;
      }
      &-1 {
        @include block-size(127px);
        bottom: 70px;
        right: 29.5%;
      }
      &-2 {
        @include block-size(297px, 141px);
        bottom: -52px;
        right: 12.5%;
      }
      &-3 {
        @include block-size(173px, 202px);
        bottom: -42px;
        right: -14.5%;
      }
    }
  }
}
