.popular {
  padding-bottom: 176px;
  &__title {
    margin-bottom: 46px !important;
    letter-spacing: 1.65px !important;
    &-box {
      display: flex;
      justify-content: space-between;
    }
  }
  &__slider {
    padding-bottom: 47px;
    &-scrollbar {
      cursor: pointer;
      left: 0 !important;
      width: 100% !important;
      & > .swiper-scrollbar-drag {
        background: var(--grey) !important;
      }
    }
    &-box-btn {
      padding-top: 5px;
    }
    &-btn {
      @include block-size(56px);
      border: 1px solid var(--black);
      border-radius: 100%;
      padding: 0;
      background-color: transparent;
      @include transitions((border-color, background-color));
      & svg {
        margin-top: 4px;
        & > path {
          @include transition(stroke, var(--black));
        }
      }
      &:first-child {
        margin-right: 15px;
        & svg {
          transform-origin: center center;
          transform: rotate(180deg);
        }
      }
      &:focus {
        outline: none;
      }
      &:hover,
      &:focus,
      &:active {
        border-color: var(--blue);
        background-color: var(--blue);
        & svg > path {
          stroke: var(--white);
        }
      }
    }
  }
  &__product {
    &-box {
      &-content,
      &-btn {
        display: flex;
      }
      &-img {
        min-height: 360px;
        margin-bottom: 16px;
        padding: 9px 5px 10px 5px;
        background-color: var(--white);
      }
      &-content {
        justify-content: space-between;
        min-height: 113px;
      }
      &-btn {
        align-items: center;
        padding-top: 10px;
      }
    }
    &-img {
      display: block;
      @include picture();
      margin: 0 auto;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 220px;
    }
    &-title {
      margin: 0 0 9px 0;
      & a {
        @include reset(link);
        @include background-text();
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.15em;
        @include transition(opacity, 1);
      }
      & a:hover,
      & a:focus,
      & a:active {
        opacity: 0.5;
      }
    }
    &-desc {
      margin: 0 0 4px 0;
      font-size: 18px;
      line-height: 140%;
    }
    &-price {
      &,
      & * {
        font-family: 'EB Garamond', serif;
        font-weight: 400;
      }
      font-size: 25px;
      line-height: 110%;
      & sup {
        font-size: 15px;
        top: -9px;
        left: 6px;
      }
    }
    &-btn {
      @include reset(btn);
      &:not(:last-child) {
        margin-right: 10px;
      }
      & svg {
        @include block-size(inherit);
        & > path {
          @include transition(fill);
        }
        & > rect {
          @include transition(stroke);
        }
      }
      &:hover,
      &:focus,
      &:active {
        & svg {
          & > path {
            fill: var(--blue);
          }
          & > rect {
            stroke: var(--blue);
          }
        }
      }
    }
  }
  @media (max-width: 1000px) {
    &__slider {
      &-box-btn {
        display: none;
      }
    }
  }
  @media (max-width: 700px) {
    padding-right: 0 !important;
    padding-bottom: 88px;
    &__title {
      padding-right: 20px;
      margin-bottom: 41px !important;
      letter-spacing: 0.9px !important;
    }
    &__slider {
      padding-bottom: 45px;
    }
    &__product {
      max-width: 335px;
      &-box {
        &-content {
          min-height: 111px;
        }
        &-btn {
          padding-top: 6px;
        }
      }
      &-title {
        & a {
          font-size: 14px;
          line-height: 17px;
        }
      }
      &-desc {
        font-size: 16px;
      }
      &-img {
        position: relative;
        left: 5px;
        max-height: 275px;
        margin: 40px auto 20px;
      }
      &-btn {
        @include block-size(36px);
        &:not(:last-child) {
          margin-right: 9px;
        }
      }
    }
  }
}
